<h4>All pets:</h4>
<a href="/pets/new"><p>Add a new pet</p></a>
<% @pets_index_array.each do |pet| %>
<p>Name: </p>
<%= pet.name %>
<p>Species: </p>
<%= pet.species %>
<p>Breed: </p>
<%= pet.breed %>
<p>Age: </p>
<%= pet.age %>
<p>Store id number: </p>
<%= pet.id %>
<hr>
<% end %>