<h4>Store #<%= @store.id %></h4>
<p>Name: </p>
<%= @store.name %>
<p>Address: </p>
<%= @store.address %>
<p>Store type: </p>
<%= @store.category %>
<a href="/stores/<%= @store.id %>/edit"><p>Edit this Store</p></a>